html {
  background: #1f2937;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
}

header {
  background-color: #1f2937;
  color: white;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

a {
  color: white;
  text-decoration: none;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0 240px 0 240px;
}

.header-left {
  font-weight: 900;
}

h1 {
  color: white;
  font-size: 48px;
  margin: 8px 0 8px 0;
}

p {
  color: #e5e7eb;
  margin: 8px 0 8px 0;
  font-weight: 100;
}
.section-1 {
  display: flex;
  justify-content: center;
  margin: 75px 0 75px 0;
  gap: 64px;
  align-items: center;
}

.hero-words {
  max-width: 400px;
}

button {
  background-color: #3882f6;
  color: white;
  border: none;
  padding: 12px 32px 12px 32px;
  font-weight: bold;
  border-radius: 8px;
}

.section-2 {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centered-headline {
  font-size: 36px;
  font-weight: bold;
  margin-top: 50px;
}

.small-image {
  border: 5px solid #3882f6;
  background-color: white;
  height: 150px;
  width: 150px;
  border-radius: 8px;
}

.small-desc {
  width: 150px;
}

.p-black {
  color: black;
}

.four-across {
  display: flex;
  justify-content: center;
  gap: 64px;
  margin-bottom: 125px;
  margin-top: 50px;
}

.section-3 {
  background-color: #e5e7eb;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-text {
  width: 800px;
  font-size: 28px;
  margin-top: 140px;
  font-style: italic;
  font-weight: 100;
}

.quote-author {
  display: flex;
  justify-content: flex-end;
  width: 700px;
  margin-bottom: 100px;
  font-weight: bold;
  font-size: 24px;
  margin-top: 20px;
}

.section-4 {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-acq {
  color: white;
  background-color: #3882f6;
  border-radius: 8px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 125px;
  padding-right: 125px;
  margin-top: 100px;
  margin-bottom: 100px;
  min-width: 800px;
  display: flex;
  justify-content: space-around;
}

.cta-headline {
  font-size: 24px;
  font-weight: bold;
}

.cta-subtext {
  color: #e5e7eb;
}

.cta-right {
  border: 2px solid white;
  border-radius: 5px;
  align-self: center;
  padding: 10px 20px 10px 20px;
}

.cta-button {
  align-self: center;
}

footer {
  color: white;
  background-color: #1f2937;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
